<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443529274892-btn8i2tvkklgm4l3hmsd7hbg9btu1f7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443529274892-btn8i2tvkklgm4l3hmsd7hbg9btu1f7v</string>
	<key>API_KEY</key>
	<string>AIzaSyCbxXju-Vfcf-fz_WQCVNU-O_LqTquzYYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>443529274892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gamesaved</string>
	<key>PROJECT_ID</key>
	<string>gamesaved-a2a69</string>
	<key>STORAGE_BUCKET</key>
	<string>gamesaved-a2a69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443529274892:ios:9888cfd9fcfd55bb33b029</string>
</dict>
</plist>